* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Red Hat Text", sans-serif;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgb(252, 248, 245);
    position: relative;
}

.max-content-border {
    max-width: 1440px;
    width: 100%;
    margin: 0px auto;
    padding: 100px 20px;
}

.desserts-full {
    display: flex;
    justify-content: space-between;
}

.heading {
    font-size: 3.125rem;
}

.dessert-section {
    margin-top: 50px;
}

.dessert-card {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 250px;
    gap: 20px;
}

.dessert-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 15px;
}

.add-to-cart {
    position: absolute;
    top: 13.5rem;
    left: 3rem;
}

.atc-btn {
    position: absolute;
    border: 1px solid red;
    display: flex;
    width: fit-content;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 2rem;
    background-color: #fff;
}

.product-num {

    border: 1px solid red;
    display: flex;
    width: fit-content;
    gap: 1.813rem;
    padding: 7px 20px;
    border-radius: 2rem;
    background-color: rgb(200, 59, 14);
    color: #fff;
}

.item-toggle {
    border: 1px solid white;
    padding: 7px 7px;
    margin: auto;
    display: flex;
    border-radius: 50%;
}

.item-toggle:first-child {
    padding: 11px 7px;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.category {
    font-size: 0.80rem;
}

.your-cart {
    background-color: #fff;
    width: 25rem;
    border-radius: 20px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.cart-heading {
    margin-right: auto;
    margin-left: 6px;
    margin-bottom: 40px;
    color: rgb(195, 82, 41);
}

.cake {
    margin-bottom: 20px;
}

.cart-with-item {
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
}

.add-item {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    border-bottom: 2px solid rgb(245, 240, 240);
}

.remove {
    border: 1px solid rgb(233, 222, 219);
    padding: 7px 7px;
    margin: auto 0px;
    display: flex;
    border-radius: 50%;
}

.add-item-multiple {
    margin-bottom: 30px;
}

.prod-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.product-name {
    font-size: 1rem;
    font-weight: 600;
}

.product-num-info {
    display: flex;
    gap: 30px;
}

.qty {
    color: rgb(203, 130, 106);
    font-weight: 600;
}

.product-price {
    color: rgb(192, 181, 181);
}

.price-add {
    color: rgb(174, 164, 160);
    font-weight: 600;
}

.order-total {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    margin-bottom: 20px;
}

.total-price {
    color: rgb(123, 115, 112);
    margin: auto 0px;
}

.tp-number {
    font-size: 1.625rem;
}

.carbon-neutral {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 15px 20px;
    border-radius: 1rem;
    background-color: rgb(252, 248, 245);
    margin-bottom: 10px;
}

.confirm-order-btn {
    width: 100%;
    padding: 20px 0px;
    border-radius: 50px;
    border-style: none;
    background-color: rgb(149, 44, 12);
    color: rgb(252, 248, 245);
    font-size: 1rem;
}

/* .cart-empty {
    display: none;
} */

.order-confirmed {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgb(126, 125, 123, 0.4);
    top: 0px;
    /* opacity: 40%; */
    align-items: center;
    justify-content: center;
    /* display: none; */
}

.oc-card {
    width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
}

.oc-tick {
    width: 50px;
    margin-bottom: 25px;
}

.enjoy-food {
    margin-bottom: 20px;
}

.confirmed {
    font-size: 2.5rem;
    color: rgb(37, 14, 7);
}

.enjoy-food {
    color: rgb(186, 159, 138);
}

.oc-product-card-section {
    border: 1px solid red;
    padding: 10px;
    background-color: rgb(252, 248, 245);
}

.oc-product-cards {
    display: flex;
}